body{
    background-color:#f17f73;
    text-align:center;
}
#title{
    background-color:#ff4c68;
    padding: 7% 15%;
}
.button{
    margin:3% 5%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size :60px;
    color:whitesmoke;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size:10px;
    text-align: center;
}
.title-image{
    transform: rotate(55 deg);
}
#features {
    background-color: white;
    text-align: center;
    padding:7% 15%;
}

.img.icons{
color:#f17f73;
text-align:center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    text-align: center;
    
}
h5{
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    text-align: center;
}
 /* testimonials */
.testimonials{
    padding:7% 15%;
    margin:3%;
}
.carousel-item{
    text-align: center;
   background-color:#f17f73;
   padding:7% 15%:
}
.circular{
    border-radius:100%;
}
/* press*/
.press-logo {
    text-align: center;
   background-color:#f17f73;
}

/* pricing */
.pricing{
    padding:7% 15%;
    text-align: center;
}
/* recommendations */
.btn{
border-radius: 5%;

}
/* socials */
/* navigation bar */
.nav-bar {
 font-family:Arial, Helvetica, sans-serif;
font-size: large;
background-color: #f17f73;
}